<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Project 2 Game Concept</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{!-- Google Client ID --}}
    <meta name="google-signin-client_id" content="455880042475-b3upltiq9g9lgqkbd6s8fk3e5hvrf0v1.apps.googleusercontent.com">
    {{!-- Reset --}}
    <link rel="stylesheet" href="/assets/styles/reset.css">
    {{!-- jQuery --}}
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
    {{!-- Bootstrap --}}
    <link rel="stylesheet" href="/assets/styles/bootstrap.css">
    <script src="/assets/scripts/bootstrap.js"></script>
    {{!-- FontAwesome --}}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
        crossorigin="anonymous">
    {{!-- Custom styling --}}
    <link rel="stylesheet" href="/assets/styles/style.css">
    <script src="/socket.io/socket.io.js"></script>
    {{!-- Google OAuth Sign In --}}
    <script src="https://apis.google.com/js/platform.js" async defer></script>
</head>

<body>
    {{{body}}}
</body>

</html>