<link rel="stylesheet" href="/assets/styles/game.css">
<div class="board-parent">
    <!-- Modals -->
    <div id="modal-container">
        <div class="modal" id="turn-indicator" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <h3> Your turn! </h3>
                        <em> Hint: Move to any of the gold tiles to see how well it can be fortified!</em>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal" id="disp-rolled-modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <p>You rolled a </p><b id="target-roll-disp"></b><br>
                        <i class="fa fa-spinner fa-spin"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal" id="wait-modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Waiting</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Waiting for opponent</p><br>
                        <i class="fa fa-spinner fa-spin"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal" id="turn-modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Highest Roll Goes First</h5>
                        <button type="button" id="post-roll-trigger" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="turn-modal-body">
                        <p>Press the ROLL button to roll the dice. Whoever gets the highest roll gets to go first!</p>
                    </div>
                    <div class="modal-footer">
                        {{!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> --}}
                        <button id="turn-button" type="button" class="btn btn-primary">ROLL</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal" id="fortify-modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Fortification Roll</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Press the Fortify button to roll the dice.</p>
                    </div>
                    <div class="modal-footer">
                        {{!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> --}}
                        <button id="roll-button" type="button" class="btn btn-primary">Fortify</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal" id="attack-modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Attack Roll</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Oh boy! You've landed on an enemy tile! Attack! </p>
                        <span>You'll have to roll a </span><u id="target-toWin-disp"></u><span> or higher to win this battle!</span>
                    </div>
                    <div class="modal-footer">
                        {{!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> --}}
                        <button id="attack-button" type="button" class="btn btn-primary">Attack</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container board-parent">
        <div class="row board-parent">
            <div class="col-md-12 board-parent">
                <div class="card">
                    <div class="card-header">
                        <h2 class="card-title">The Game</h2>
                    </div>
                    <div class="card-body">
                        <div class="card-text">
                            <span><b> Turns remaining: </b></span> <span id="target-turns-remaining">15</span>
                            <span><b> Player 1 Score: </b></span> <span id="target-turns-remaining">0</span>
                            <span><b> Player 2 Score: </b></span> <span id="target-turns-remaining">0</span>
                            <span><b>Tile Details: </b></span> <span id="tile-details"></span>
                        </div>
                    </div>
                </div>
                <div id="target-board-target" class="board-parent">
                    <div id="target-frame"></div>
                </div>
            </div>
        </div>
    </div>
    <script src="/assets/scripts/moment.js"></script>
    <script src="/assets/scripts/client_game.js"></script>