{{!-- Google OAuth Sign In --}}
<script src="https://apis.google.com/js/platform.js" async defer></script>
<link rel="stylesheet" href="/assets/styles/index.css">
<!-- home.html -->
<!-- render blob for single page viewer -->
<!-- Modal -->
<div>
    <div class="modal fade" id="signInModal" tabindex="-1" role="dialog" aria-labelledby="signInModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel text-center">Sign Up or Log In</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center">
                    <div class="g-signin2 text-center" data-onsuccess="onSignIn"></div>
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Main Body -->
<div class="container" id="main">
    <div class="row">
        <div class="col-md-12 heading">
            <h3 class="text-center"> (ET) => { phone( "home" ) } </h3>
            <h5 class="text-center"> presents </h5>
            <h1 class="text-center">"The Game"</h1>
            <br>
        </div>
    </div>
    <br>
    <div class="row d-flex justify-content-center" id="signInContainer">
        <div class="signIn">
            <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#signInModal">Sign
                In</button><span class="signIn-label">
                to get started! </span>
        </div>
    </div>
    <div class="row" id="text-body">
        <div class="col-md-7">
            <div class="card">
                <div class="card-header">
                    <h4>How it's Played</h4>
                </div>
                <div class="card-body">
                    <div class="card-text">
                        <p>
                            Once another player is available, you'll be matched and dropped into a game. Roll a
                            die
                            to see who takes the first
                            turn, then pay attention to try and outmaneuver your opponent!
                        </p>
                        <p>
                            You'll start on a new randomly generated game board, and your goal is to dominate
                            your
                            opponent by fortifying the
                            most tiles. Each turn, you'll begin by making a move. You can move two tiles Up,
                            Down,
                            Left, or Right, or you can
                            move one tile diagonally. Choose wisely, however, as obstacles and traps can throw
                            a
                            ranch into even the best laid
                            plans.
                        </p>
                        <p>
                            If you move onto an empty tile, you'll have to roll a die to see what resources are
                            on the
                            tiles. If you roll a one, you become the owner of that tile and establish a
                            fortification with
                            one guard. If you roll a six, you become the owner of that tile and establish a
                            fortification of
                            six soldiers.
                        </p>
                        <p>
                            If you move onto a tile controlled by your opponent, you'll have to roll a die to
                            battle it out
                            over that square. If your dice roll is higher than the number that your opponent
                            rolled when he/she
                            captured the tile, then you emerge the victor. If your dice roll is smaller,
                            however, you suffer an
                            embarassing loss and lose the soldiers you rolled for.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">
                        <h3>Leaderboards</h3>
                    </div>
                </div>
                <div class="card-body">
                    <div class="card-text">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Score</th>
                                </tr>
                            </thead>
                            <br>
                            {{#each items}}
                            <tbody>
                                <tr>
                                    <th scope="row">{{inc @index}}</th>
                                    <td>
                                        <img style="height: 25px" src="{{dataValues.Player.icon}}">
                                        {{dataValues.Player.name}}
                                    </td>
                                    <td>{{dataValues.score}}</td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                        {{!-- <i class="fa fa-spinner fa-spin"></i>
                        <b>Loading Leaderboards...</b> --}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/assets/scripts/index.js"></script>