<div>

    <div>
        <span> For testing purposes: </span>
        <button class="btn btn-info" id="trigger-view-home">View Index</button>
        <button class="btn btn-info" id="trigger-view-lobby">View Lobby</button>
        <button class="btn btn-info" id="trigger-view-game">View Game</button>
    </div>

    <div id="target-render-page">

    </div>

    <script>
        var socket = io();
        $("#trigger-view-home").on("click", function(){
            socket.emit("getHTML",{"for_page":"home"});
        });
        $("#trigger-view-lobby").on("click", function(){
            socket.emit("getHTML",{"for_page":"lobby"});
        });
        $("#trigger-view-game").on("click", function(){
            socket.emit("getHTML",{"for_page":"game"});
        });
        socket.on("render", function (event) {
                console.log(event);
                console.log(event.turn)
                $("#target-render-page").html(event.content)
            });
    </script>
    
</div>