{{!-- Google Client ID --}}
<meta name="google-signin-client_id" content="455880042475-b3upltiq9g9lgqkbd6s8fk3e5hvrf0v1.apps.googleusercontent.com">
{{!-- Reset --}}
<link rel="stylesheet" href="/assets/styles/reset.css">
{{!-- jQuery --}}
<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous"></script>
{{!-- Bootstrap --}}
<link rel="stylesheet" href="/assets/styles/bootstrap.css">
<script src="/assets/scripts/bootstrap.js"></script>
{{!-- FontAwesome --}}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
    crossorigin="anonymous">
{{!-- Custom styling --}}
<link rel="stylesheet" href="/assets/styles/style.css">
<script src="/socket.io/socket.io.js"></script>
<script src="/assets/scripts/index.js"></script>
{{!-- Google OAuth Sign In --}}
<script src="https://apis.google.com/js/platform.js" async defer></script>

<div>

    {{!-- Modals --}}
    <div>
        <div class="modal fade" id="signInModal" tabindex="-1" role="dialog" aria-labelledby="signInModal" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel text-center">Sign Up or Log In</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body text-center">
                        <div class="g-signin2 text-center" data-onsuccess="onSignIn"></div>
                    </div>
                    <div class="modal-footer">

                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{!-- Main --}}
    <div class="container card">
        <div class="card-body">
            <div class="row">
                <div class="card-header col-md-12 ">
                    <h3 class="text-center"> (ET) => { phone( "home" ) } </h3>
                    <h5 class="text-center"> presents </h5>
                    <h1 class="text-center">"The Game"</h1>
                    <br>
                    {{!-- <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#signInModal">Sign
                        In</button> --}}
                </div>
            </div>
            <div class="card-text">

                <div class="row">
                    <div class="col-md-7 card">
                        <div class="card-header">
                            <b>
                                <h3> Sign in to get started! </h3>
                            </b>
                            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#signInModal">Sign
                                In</button>
                            <button class="btn btn-secondary" id="target-lobby-redirect">Test Redirect To Lobby</a> 
                                <br>
                        </div>
                        <div class="card=body">
                            <div class="card-text">
                                <br>
                                <h4>How it's Played</h4>
                                <hr>
                                <p>
                                    Once another player is available, you'll be matched and dropped into a game. Roll a
                                    die
                                    to see who takes the first
                                    turn, then pay attention to try and outmaneuver your opponent!
                                </p>
                                <p>
                                    You'll start on a new randomly generated game board, and your goal is to dominate
                                    your
                                    opponent by fortifying the
                                    most tiles. Each turn, you'll begin by making a move. You can move two tiles Up,
                                    Down,
                                    Left, or Right, or you can
                                    move one tile diagonally. Choose wisely, however, as obstacles and traps can throw
                                    a
                                    ranch into even the best laid
                                    plans.
                                </p>
                                <p>
                                    If you move onto an empty tile, you'll have to roll a die to see what resources are
                                    on the
                                    tiles. If you roll a one, you become the owner of that tile and establish a
                                    fortification with
                                    one guard. If you roll a six, you become the owner of that tile and establish a
                                    fortification of
                                    six soldiers.
                                </p>
                                <p>
                                    If you move onto a tile controlled by your opponent, you'll have to roll a die to
                                    battle it out
                                    over that square. If your dice roll is higher than the number that your opponent
                                    rolled when he/she
                                    captured the tile, then you emerge the victor. If your dice roll is smaller,
                                    however, you suffer an
                                    embarassing loss and lose the soldiers you rolled for.
                                </p>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-5 card">
                        <div class="card-header">
                            <div class="card-title">
                                <h3>Leaderboards</h3>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="card-text">
                                <i class="fa fa-spinner fa-spin"></i>
                                <b>Loading Leaderboards...</b>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>