html{
    height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: rgb(175, 175, 175);
  height: 100%;
}

.container{
  background: rgb(243, 241, 236);
}

.board-parent{
    height: 100%;
}
.validMove{
    border: solid 3px #ffd900;
}
.enemySpawn{
    border: solid 3px maroon;
}
.mySpawn{
    border: solid 3px blue;
}
.enemyTile {
    border : solid 3px #ff0040;
}
.myTile {
    border : solid 3px #00ccff;
}
.enemyLoc{
    border: solid 3px maroon;
}
.myLoc{
    border: solid 3px teal;
}


h3, h5 {
  font-family: 'Montserrat', sans-serif;
}

#title {
    text-align: center;
    font-size: 18px;
}

#target-board-target{
    width: 100%;
    height: 100%;
    overflow-x: scroll;
    overflow-y: scroll;
}