html{
    height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: rgb(175, 175, 175);
  height: 100%;
}

.container{
  background: rgb(243, 241, 236);
}

.board-parent{
    height: 100%;
}
.validMove{
    border: solid 3px #ffd900;
}
.enemySpawn{
    border: solid 3px maroon;
}
.mySpawn{
    border: solid 3px rgb(0, 0, 126);
}
.enemyTile {
    border: solid 3px maroon;
}
.myTile {
    border: solid 3px rgb(0, 0, 126);
}
.enemyLoc{
    border : solid 3px #ff0040;
    
}
.myLoc{
     border : solid 3px #00ccff;
}


h3, h5 {
  font-family: 'Montserrat', sans-serif;
}

#title {
    text-align: center;
    font-size: 18px;
}

#target-board-target{
    width: 100%;
    height: 100%;
    overflow-x: scroll;
    overflow-y: scroll;
}

.board-container {
    border: groove #ffd400 10px;
    height: 925px;
    width: 925px;
    margin-left: 100px;
    background: #FFFEBA;
    box-shadow: 3px 3px 15px 1px black;
    float: left;
}