.body{
    background-color: #0675d2b3;
}

.heading {
    padding-top: 2%;
    background-color: #ffd400;
    color: #035c88;
}

.container{
    background-color: #D9F0FF;
    border: solid 2px rgb(65, 65, 65); 
}

ul.nav a:hover { color: #fff !important; }

.signIn{
    padding: 5%;
}

.signIn-label{
    font-size: 18pt;
    font-weight: 600;
}

.heading {
    padding-top: 2%;
    background-color: #155458;
    color: #ffda07;
    border-bottom: none;
}

.card-header{
    background-color: #ffda07;
}

.btn-info{
    background-color: #155458;
    color: #ffda07;
}

h1 {
    font-family: 'Press Start 2P', cursive;
}

h3, h5 {
    font-family: 'Roboto', sans-serif;
}

body {
    font-family: 'Roboto', sans-serif;
}


