.body {
    background-color: #0675d2b3;
}

.heading {
    padding-top: 2%;
    background-color: #ffd400;
    border-radius: 15px 15px 0 0;
}

.container {
    background-color: #D9F0FF;
    border: solid 2px rgb(65, 65, 65);
}


.signIn {
    padding: 5%;
}

.signIn-label {
    font-size: 18pt;
    font-weight: 600;
}


.card-header {
    background-color: #ffda07;
    border-radius: 10px 10px 0 0 !important;
}

.card{
    border-radius: 10px;
    box-shadow: 5px 5px 3px #14254485;
}

.btn-info {
    background-color: #00A6ED;
    color: #ffda07;
}

.btn-info:hover {
    background-color: #005B82 !important;
    color: #ffda07 !important;
}

h1 {
    font-family: 'Press Start 2P', cursive;
}

h3,
h4,
h5 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold
}

body {
    font-family: 'Roboto', sans-serif;
    background-image: url(../media/download.png)
}

#main {
    margin-top: 10%;
    box-shadow: 10px 10px 8px #14254485;
    padding-bottom: 5%;
    border-radius: 10px;
}