h1 {
  font-family: 'Press Start 2P', cursive;
}

body {
  font-family: 'Roboto', sans-serif;
  background-image: url(../media/download.png);
}

.jumbotron {
  margin-top: 25%;
  background-color: #ffd400;
  box-shadow: 10px 10px 8px;
}

h4 {
  font-weight: bold
}