h1 {
  font-family: 'Press Start 2P', cursive;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #A3D5FF;
  color: #00A6A6;
}

.jumbotron {
  margin-top: 25%;
  background-color: #EFCA08;
}