#back {
  background-color: inherit;

}

.btn {
  background-color: #0F8B8D;
}

.container{
  background: rgb(243, 241, 236);
}

.jumbotron {
  background-color: #193813;
  margin-top: 5%;
}
.card-header{
  background-color: #ffda07;
}

.heading {
  background-color: none;
  border-bottom: none;
}

h1 {
  font-family: 'Press Start 2P', cursive;
}

h3, h5 {
  font-family: 'Montserrat', sans-serif;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: rgb(66, 66, 66);
}


